{% extends "home/index.html.twig" %}

{% block title %}Depenses cellule index{% endblock %}

{% block body %}
    <!-- /.card-header -->
    <div class="card-body">




        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Depenses des Cellules</h3>
            </div>
<div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

            {% if is_granted('ROLE_RESPONSABLE_CELLULE') %}
                <div class="card-body">
                    <a href='{{ path('app_depensecellule_new') }}'>
                        <button class="btn btn-primary">Nouveau</button>
                    </a>
                    <a href='{{ path('cotisationcellule_index') }}'>
                        <button class="btn btn-success">Cotisations </button>
                    </a>

                    <a href={{ path('cotisercellule_index') }}>
                        <button class="btn btn-success">Paiements de cotisation</button>
                    </a>

                    <a href={{ path('seancecellule_listeparticipant') }}>
                        <button class="btn btn-success">Liste de présence</button>

                    </a>
                {% endif %} 

                <b>Solde</b>
                <button class="btn btn-info">
                    {% for solde in soldes %}
                        {{ solde.montant|number_format(0, '.', ' ') }}
                    {% endfor %}
                </button>
                <hr style="visibility: hidden" />
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Cellule</th>
                            <th>Date</th>
                            <th>Objet</th>
                            <th>Montant</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for depensecellule in depensecellules %}
                           {% if is_granted("depensecellule_edit", depensecellule) %}

                            <tr>
                                <td> {% if depensecellule.cellule is not empty %}  {{ depensecellule.cellule.nom }} {% else %} {% endif %}</td>
                                <td>{{ depensecellule.datedepense ? date_format(depensecellule.datedepense) }}</td>
                                <td>{{ depensecellule.objet }}</td>
                                <td>{{ depensecellule.montant|number_format(0, '.', ' ')  }}</td>

                                <td>
                                   
                                    <a href="{{ path('app_depensecellule_edit', {'id': depensecellule.id}) }}">          <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-edit" title="Modification"></i>
                                        </span></a>
                                </td>
                            </tr>
                     
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endblock %}
