{% extends "home/index.html.twig" %}

{% block title %}Liste des cultes{% endblock %}

{% block body %}


    <div class="card-body">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Gestion des cultes</h3>
            </div>
    <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger', 'commune']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
            <div class="card-body">
                <a href="{{ path('culte_add') }}" class="btn btn-primary">Nouveau</a>
                <a href="{{ path('invite_add') }}" class="btn btn-primary">Enregistrement invités</a>
                <a href="{{ path('culte_listepresence') }}" class="btn btn-success">Liste de présence</a>

                <hr style="visibility: hidden" />

                <table id="example1" class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Thème</th>
                            <th>Orateur</th>
                            <th>Total fidèles</th>
                            <th>Invités</th>
                            <th>Fiche de rapport</th>
                            <th>Detail</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for culte in culte %}
                            <tr>
                                <td>{{ culte.dateculte|format_datetime('full', 'none', locale='fr')}}</td>
                                <td>{{ culte.theme}}</td>
  
                                <td>{% if culte.messager is not empty %} {{ culte.messager.nomfidele}} {% else %}{{ culte.orateur}}{% endif %}</td>

                                {% set nmbrehomme =culte.nmbrehomme%}
                                {% set nobrefemme = culte.nobrefemme %}
                                {% set nbrefant = culte.nbrefant %}
                                {% set nbreinvite = culte.invite %}

                                <td>{{ nmbrehomme + nobrefemme + nbrefant + nbreinvite }}</td>
                                   <td>
                        {% if culte.photo is not empty %} <a href="{{ asset('uploads/photos/' ~ culte.photo) }}" target="_blank">
                        Afficher rapport</a> {% else %} Fiche rapport indisponible {% endif %}

                    </td>
                                <td>
                                      <button type="button" id="btn-fideles-modal" data-target="{{ path('culte_search_invites', {'id':culte.id}) }}"> 
                                        <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-users" title="Voir invités"></i>
                                        </span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" id="btn-fideles-modal" data-target="{{ path('culte_detail', {'id': culte.id}) }}"> 
                                        <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-book" title="Details"></i>
                                        </span>
                                    </button>


                                </td>


                                <td>
                                    <a href="{{ path('culte_update', {'id': culte.id}) }}">
                                        <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <form method="post" action="{{ path('culte_delete', {'id': culte.id}) }}" onsubmit="return confirm('etes vous sur de vouloir supprimer?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ culte.id) }}">

                                        <button class="btn">
                                            <span style="font-size: 1em; color: red;">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                       

                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


    </div>





    <!-- Modal des  -->
    <div class="modal fade bd-example-modal-lg" id="fidelesModal" tabindex="-1" aria-labelledby="fidelesModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // quand on clic sur le button voir les fideles pour ouvrir la fenêtre modal
            $(document).on('click', 'button#btn-fideles-modal', function () {
                // créer le modal qui porte l'id fidelesModal
                let modal = new bootstrap.Modal(document.getElementById('fidelesModal'), {
                    keyboard: false
                });

                // recupere le div class="modal-body" du div id="fidelesModal"
                let container = $('#fidelesModal .modal-body');

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('data-target'),
                    async: true,
                    beforeSend: function () { // avant d'envoyé le post on vide le div.modal-body
                        container.empty();
                    },
                    success: function (html) {
                        container.append(html); // une fois la réponse, on rempli le div.modal-body
                        modal.show(); // on affiche la fenêtre modal
                        //console.log(html);
                    }
                });
            });
        });
    </script>



{% endblock %}