
<div class="card card-primary">

    <div class="card card-body">
        {{ form_start(form) }}
<div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.culte, {'label':'Choix du culte '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.nom, {'label':'Nom & prénoms '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.sexe, {'label':'Genre  '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.contact, {'label':'Contact '}) }}
            </div>
        </div>
        <div class="row">


            <div class="col-md-3">
                {{ form_row(form.profession, {'label':'Proffession '}) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.habitation, {'label':'Lieu de residence '}) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.fidele, {'label':'Fidèle ayant invité '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.invitant, {'label':'Invité par autre'}) }}
            </div>

        </div>


        <div class="row"> 
            <div class="col-md-1">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>
            <div class="col-md-2"> {{ form_row(form.saveAndAdd, {'label':'Valider et continuer ','attr':{'value':'save-and-add'}}) }} </div>
            <div class="col-md-3"><a href="{{ path('app_visite_index') }}" class="btn btn-success">Afficher la liste</a> </div>
        </div> 
        {{ form_end(form) }}

    </div>
</div>