{% extends "home/index.html.twig" %}

{% block title %}Detail  paiements participations{% endblock %}

{% block body %}

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details paeiments droit de participation</h3>
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            <a href='{{ path('ecodimactivite_new') }}'>
                <button class="btn btn-primary">Nouveau paiement</button>
            </a>
            <a href='{{ path('ecodimactivite_index') }}'>
                <button class="btn btn-success">Liste des cotisations</button>
            </a>

            <a href='{{ path('ecodimactivite_index') }}'>
                <button class="btn btn-success">Liste paiements</button>
            </a>

            <hr style="visibility: hidden" />  

            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Code </th>
                        <th>Enfant</th>
                        <th>Objet</th>
                        <th>Droit de participation</th>
                        <th>Mont payé</th>
                        <th>Reste </th>

                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                        <tr>
                            <td>{{ detail.datedetail ? detail.datedetail|date('d-m-Y') : '' }}</td>
                            <td>{{ detail.enfant.code|upper }}</td>

                            <td>{{ detail.enfant.nom }}</td>
                            <td> {% if detail.ecodimactivite is not empty  %} {{ detail.ecodimactivite.nomactivite }}{% else %} {% endif %} </td>
                            <td>{% if detail.ecodimactivite is not empty %} {{ detail.ecodimactivite.participation }}{% else %} {% endif %}</td>
                            <td>{% if detail.ecodimactivite is not empty %} {{ detail.montantpayer }}{% else %} {% endif %}</td>
                            <td>

                                {% if  detail.reste > 0 %}
                                    <b>{{ detail.reste }}</b>


                                {% else %}
                                    <i class="btn btn-success">    Soldée</i> 
                                {% endif %}


                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">Aucuné donnée trouvée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
