{% extends 'home/index.html.twig' %}

{% block title %}Cotisationparcellule index{% endblock %}

{% block body %}
    <div class="card-body">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Gestion des cotisations par cellule</h3>
            </div>
              <div class="offset-1 col-md-10 mt-2 mb-2">
                {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} my-alert" role="alert">
                            <h5 class="m-0 flash-text">{{ message }}</h5>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href='{{ path('app_cotisationparcellule_new') }}'>
                    <button class="btn btn-primary">Nouveau</button>
                </a>

                <a href='{{ path('app_cotiserparcellule_index') }}'>
                    <button class="btn btn-success">Paiements cotisation</button>
                </a>
                <hr style="visibility: hidden" /> 
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Objet</th>
                            <th>Montant</th>
                            <th>Dernier delais</th>
                            <th>Etat</th>
                            <th>Action</th>
                            <th>Details</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cotisationparcellule in cotisationparcellules %}
                            <tr>
                                <td>{{ cotisationparcellule.objet }}</td>
                                <td>{{ cotisationparcellule.montant|number_format(0, '.', ' ') }}</td>
                                <td>
                                    {% if date('now') < date(cotisationparcellule.datefin) %}
                                        <b>En cours</b>

                                    {% else %}

                                        <i class="btn btn-success">  Achévée</i>
                                    {% endif %}
                                </td>
                                <td>{{ cotisationparcellule.datefin ? cotisationparcellule.datefin|date('d-m-Y') : '' }}</td>

                                <td>
                                    {% if cotisationparcellule.etatcotiser == 1 %}
                                        <form method="post" action="{{ path('cotisationparcellule_cloture', {'id': cotisationparcellule.id}) }}" onsubmit="return confirm('Voulez-vous clore cette cotisation?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('cloturecotisationparcel' ~ cotisationparcellule.id) }}">

                                            <button class="btn">
                                                <span style="font-size: 1em; color: red;">
                                                    <i class="fas fa-trash-alt" title="Fermer"></i>
                                                </span>
                                            </button>
                                        </form>

                                    {% else %}




                                        <form method="post" action="{{ path('cotisationparcellule_active', {'id': cotisationparcellule.id}) }}" onsubmit="return confirm('Voulez-vous réactiver cette cotisation?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('activecotisationparcel' ~ cotisationparcellule.id) }}">

                                            <button class="btn">
                                                <span style="font-size: 1em; color: blue;">
                                                    <i class="fas fa-edit" title="Activer"></i>
                                                </span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>


                                <td>
                                    
                                       <a href="cotiser/se?id={{ cotisationparcellule.id }}">
                                            <span style="font-size: 1em; color: Dodgerblue;">
                                                <i class="fas fa-list" title="Details"></i>
                                            </span>
                                        </a>
                                </td>
                                <td>
                                    <a href="{{ path('app_cotisationparcellule_edit', {'id': cotisationparcellule.id}) }}"><span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-edit" title="Modifier"></i>
                                        </span></a>
                                </td>
                                <td>
                                    {% if cotisationparcellule.detailparcellules is empty %}

                                        <form method="post" action="{{ path('app_cotisationparcellule_delete', {'id': cotisationparcellule.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cotisationparcellule.id) }}">
                                            <button class="btn">
                                                <span style="font-size: 1em; color: red;">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            </button>
                                        </form>
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                      
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
