{% extends "home/index.html.twig" %}

{% block title %}Gestion des enfants{% endblock %}

{% block body %}

    <div class="card-body">


        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Anniversaires des enfants</h3>
            </div>


            <!-- /.card-header -->
            <div class="card-body">





                <table id="example1" class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Enfant</th>
                            <th>Contact</th>
                            <th>Age</th>
                            <th>Photo</th>




                            </tar>
                    </thead>
                    <tbody>
                        {% for enfant in enfants %}
                            <tr>
                                <td>{{ enfant.nom|upper}}</td>
                                <td>{{ enfant.contact}}</td>


                                <td>


                                    {% set naissance = enfant.datenaiss|date('m-d') %}
                                    {% set today = "now"|date('m-d') %}


                                    {% set difference = date(today).diff(naissance) %}
                                         {{ difference.format(' %m mois %d jour(s) ') }}

                                </td>
                                <td>
                                    {% if enfant.photoFile is not empty %}
                                        <a href="{{ path('enfant_detail', {'id': enfant.id}) }}">
                                            <img src="{{ asset('uploads/photos/'~enfant.photoFile )}}"  class="img-size-50 mr-3 img-suqare" title="Voir details"/>

                                        </a>
                                    {% else %}    <a href="{{ path('enfant_detail', {'id': enfant.id}) }}">Modifier</a> {% endif %}
                                </td>


                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">aucune donnée trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


    </div>



{% endblock %}
