{% extends 'home/index.html.twig' %}


{% block title %}
    Details {{ nomcotisationsociale|upper }} {% endblock %}

    {% block body %}



        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title">Fidèles ayant cotisé pour: {{ nomcotisationsociale|upper }} </h3>
            </div>
            <h3><b> </b></h3>
            <div class="container-fluid">
                <div class="row">

                    <!-- /.card-header -->
                    <div class="card-body">

                        <a href='{{ path('app_cotisationsociale_index') }}'>
                            <button class="btn btn-success">Liste des cotisationsociales</button>
                        </a>
                        {% for cotisersociale in cotisersociales %}
                            
                            {% set sum = cotisersociale.montantpayer + sum ?? 0 %}
                            {% if loop.last  %} Total cotisé :<b> {{ sum|number_format(0, '.', ' ')}}F CFA -- {{ sum|format_number(style='spellout')}} F CFA</b>  {% endif %}
                    
                        {% endfor %}
                        <hr style="visibility: hidden" />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Objet</th>
                                    <th>Fidèle</th>
                                    <th>Contact</th>
                                    <th>Montant </th>
                                    <th>Montant payé</th>
                                    <th>Reste</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                {% for cotisersociale in cotisersociales %}
                                        <tr>
                                            <td> {% if cotisersociale.cotisationsociale is not null  %} {{ cotisersociale.cotisationsociale.objet|upper }}{% else %} {% endif %}</td>
                                            <td>{% if cotisersociale.fidele is not null  %}{{ cotisersociale.fidele.nomfidele|upper }}{% else %} {% endif %}</td>
                                            <td>{% if cotisersociale.fidele is not null  %}{{ cotisersociale.fidele.contact1 }}{% else %} {% endif %}</td>
                                            <td>{{ cotisersociale.cotisationsociale.montant|number_format(0, '.', ' ') }}</td>
                                            <td>{{ cotisersociale.montantpayer|number_format(0, '.', ' ') }}</td>
                                            <td>  {% if  cotisersociale.reste ==0 %} <b>Soldé</b> 
                                            {% elseif cotisersociale.reste >0 %} {{ cotisersociale.reste|number_format(0, '.', ' ') }} {% elseif cotisersociale.reste < 0 %} 
                                                <i class="btn btn-success"> Soldé </i> {% endif %}

                                            </td>
                                   
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucune donnée trouvée</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>


                    {% endblock %}
