{% extends "home/index.html.twig" %}

{% block title %}

    Liste de présentation d'enfants
{% endblock %}


{% block body %}

    <div class="card-body">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Liste des présentations</h3>
            </div>
 <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href='{{ path('naissance_new') }}'>
                    <button class="btn btn-primary">Nouveau</button>
                </a>

                <hr style="visibility: hidden" />
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date présentation</th>
                            <th>Enfant</th>
                            <th>Sexe</th>
                            <th>Image </th>

                            <th>Details</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for naissance in naissances %}
                            <tr>
                                <td>{{ naissance.datepresentation ? naissance.datepresentation|date('d-m-Y') : '' }}</td>
                                <td>{{ naissance.nomnaiss|upper}}</td>
                                <td>{% set sexe = naissance.sexenaiss %}
                                    {% if sexe == 1 %} Garçon
                                    {% else %}
                                        Fille
                                    {% endif %}

                                </td>

                                <td> {% if naissance.photoFile is not empty %}  <a href="{{ asset('uploads/photos/' ~ naissance.photoFile) }}">Voir photo</a>
                                {% else %} (Photo non importée) {% endif %}</td>

                                    <td>
                                        <button type="button" id="btn-fideles-modal" class="btn btn-primary" data-target="{{ path('naissance_show', {'id':naissance.id}) }}"> 
                                            <i class="fas fa-list" title="Details"></i>
                                        </button> 

                                    </td>
                                    <td>
                                        <a href="{{ path('naissance_edit', {'id': naissance.id}) }}">  <i class="fas fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <form method="post" action="{{ path('naissance_delete', {'id': naissance.id}) }}" onsubmit="return confirm('Voulez-vous supprimer?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ naissance.id) }}">
                                            <button class="btn">
                                                <span style="font-size: 1em; color: red;">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                              
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                    <div class="modal fade bd-example-modal-lg" id="fidelesModal" tabindex="-1" aria-labelledby="fidelesModalLabel" aria-hidden="true">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}

                        {% block javascripts %}
                            {{ parent() }}
                            <script>
                                $(document).ready(function () {
                                    // quand on clic sur le button voir les fideles pour ouvrir la fenêtre modal
                                    $(document).on('click', 'button#btn-fideles-modal', function () {
                                        // créer le modal qui porte l'id fidelesModal
                                        let modal = new bootstrap.Modal(document.getElementById('fidelesModal'), {
                                            keyboard: false
                                        });

                                        // recupere le div class="modal-body" du div id="fidelesModal"
                                        let container = $('#fidelesModal .modal-body');

                                        $.ajax({
                                            type: 'POST',
                                            url: $(this).attr('data-target'),
                                            async: true,
                                            beforeSend: function () { // avant d'envoyé le post on vide le div.modal-body
                                                container.empty();
                                            },
                                            success: function (html) {
                                                container.append(html); // une fois la réponse, on rempli le div.modal-body
                                                modal.show(); // on affiche la fenêtre modal
                                                //console.log(html);
                                            }
                                        });
                                    });
                                });
                            </script>


                        {% endblock %}

