{% extends 'base.html.twig' %}

{% block title %}Cotiserpazone{% endblock %}

{% block body %}
    <h1>Cotiserpazone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cotiserpazone.id }}</td>
            </tr>
            <tr>
                <th>Montantpayer</th>
                <td>{{ cotiserpazone.montantpayer }}</td>
            </tr>
            <tr>
                <th>Reste</th>
                <td>{{ cotiserpazone.reste }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ cotiserpazone.etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ cotiserpazone.createAt ? cotiserpazone.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ cotiserpazone.updateAt ? cotiserpazone.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datecotiser</th>
                <td>{{ cotiserpazone.datecotiser ? cotiserpazone.datecotiser|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedFromIp</th>
                <td>{{ cotiserpazone.createdFromIp }}</td>
            </tr>
            <tr>
                <th>UpdatedFromIp</th>
                <td>{{ cotiserpazone.updatedFromIp }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ cotiserpazone.deletedAt ? cotiserpazone.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedFromIp</th>
                <td>{{ cotiserpazone.deletedFromIp }}</td>
            </tr>
            <tr>
                <th>Editable</th>
                <td>{{ cotiserpazone.editable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cotiserpazone_index') }}">back to list</a>

    <a href="{{ path('app_cotiserpazone_edit', {'id': cotiserpazone.id}) }}">edit</a>

    {{ include('cotiserpazone/_delete_form.html.twig') }}
{% endblock %}
