
<div class="card card-primary">

    <div class="card card-body">
       
       {{ form_start(form, {'attr': {'action': path('commune_add')} }) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
            {% for message in app.flashes('commune') %}
                <div class="primary">
                    {{ message }}
                </div>
            {% endfor %}
   
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.nom, {'label':'Commune ', 'attr':{'class':'form-control'}}) }}
            </div>
            
        </div>


        <div class="row"> 
            <div class="col-md-1">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>
            <div class="col-md-2" style="display: none"> {{ form_row(form.saveAndAdd, {'label':'Valider  ','attr':{'value':'save-and-add'}}) }} </div>
        </div> 
        {{ form_end(form) }}

    </div>
</div>