

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Gestion de Famille</h3>
    </div>
    <div class="card card-body">

       {{ form_start(form, {'attr': {'action': path('famille_add')} }) }}
<div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
        <div class="col-md-4">
            {{ form_row(form.zone, {'label':'Choix de Zone '}) }}
        </div>
        <div class="row mb-4">
            <div class="col-6">
                <div class="form-group">
                    {{ form_label(form.nom, "Famille", {'label_attr':{'class':'col-form-label'}})}}
                    {{ form_errors(form.nom)  }}
                    <div class="foo">
                        {{ form_widget(form.nom,{'label_attr':{'class':'foo'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                {{ form_label(form.description, "description ", {'label_attr':{'class':'col-form-label'}}) }}
                {{ form_errors(form.description)  }}
                <div>
                    {{ form_widget(form.description ,{'label_attr':{'class':'foo'}}) }}
                </div>
            </div>
        </div>
        <div class="row mb-4">


            <div class="col-6">
                <div class="form-group">
                    {{ form_label(form.responsable1, "Responsable premier") }}
                    {{ form_errors(form.responsable1)  }}
                    <div>
                        {{ form_widget(form.responsable1,{'label_attr':{'class':'foo'}})   }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">                        
                    {{ form_label(form.responsable2, "Responsable second") }}
                    {{ form_errors(form.responsable2)  }}
                    <div>
                        {{ form_widget(form.responsable2 ,{'label_attr':{'class':'foo'}})   }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-1">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>

            <div class="col-md-2.5"  style="display: none"> {{ form_row(form.saveAndAdd, {'label':'Valider et continuer ','attr':{'value':'save-and-add'}}) }} </div>

        </div> 
        <div>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>


