{% extends "home/index.html.twig" %}

{% block title %}Bilan des dîmes d'ensemble {% endblock %}

{% block body %}

    <div class="card card-body">
        <form action="{{ path('app_bilan_dimeglobale') }}" method="POST" >

            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Critères</h3>
                </div>
                <div class="row">


                    <div class="col-md-3">
                        {{ form_row(form_recherche.dateDebut, {'label':'Date debut'}) }}
                    </div>

                    <div class="col-md-3">
                        {{ form_row(form_recherche.dateFin , {'label':'Date fin'}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <input type="submit" value="Rechercher">
                </div>


            </div>    
    </div>
</form>    
</div> 

<div class="rows">
    {% if app.request.method == 'POST' and dimeglobales |length==0 %}
        Aucune donnée trouvée

    {% else %}

        {% if dimeglobales |length >0 %}
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Resultats de la recherche</h3>
                </div>
                <div style="align-content: center">
                    {% for dimeglobale in dimeglobales %}
                        {% set seance = dimeglobales|length %}
                     
                        {% set sum = dimeglobale.montant + sum ?? 0 %}
                           {% set moyene = sum/seance  %}
                        {% if loop.last  %}
                            
                            Moyenne:  <b> {{ (sum/seance)|number_format(0, '.', ' ') }} F CFA </b> par séance <br />
                            Montant total :  <b> {{ sum|number_format(0, '.', ' ')}}F CFA -- {{ sum|format_number(style='spellout')}} F CFA</b>  {% endif %}
                    
                            {% endfor %}
                </div>

                <hr style="visibility: hidden" /> 
                <div class="card-body">

                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th>Date </th>
                                <th>Montant</th>


                            </tr>
                        </thead>

                        <tbody>
                            {% for dimeglobale in dimeglobales %}

                                <tr>

                                    <td>{{ date_format(dimeglobale.datedime) }}</td>

                                    <td>{{ dimeglobale.montant|number_format(0, '.', ' ')  }}</td>


                                </tr>


                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endif %}

    {% endblock %}

