
<div class="card card-primary">

    <div class="card card-body">
        {{ form_start(form) }}
      <div class="offset-1 col-md-10 mt-2 mb-2">
                {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} my-alert" role="alert">
                            <h5 class="m-0 flash-text">{{ message }}</h5>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.objet, {'label':'Objet '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.montant, {'label':'Montant  '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.datefin, {'label':'Dernier delais '}) }}
            </div>
         

        </div>
   

        <div class="row"> 
            <div class="col-md-2">{{ form_row(form.save, {'label':'Enregistrer ','attr':{'value':'save'}}) }}</div>
            <div class="col-md-3"> {{ form_row(form.saveAndAdd, {'label':'Enregistrer et continuer ','attr':{'value':'save-and-add'}}) }} </div>
            <div class="col-md-3"><a href="{{ path('app_cotisationpardepartement_index') }}" class="btn btn-success">Afficher la liste</a> </div>
        </div> 
        {{ form_end(form) }}

    </div>
</div>