
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Details sous-discipline</h3>
    </div>
    <div class="card card-body">



        <table class="table">
            <tbody>
                <tr>
                    <th>Fidèle</th>
                    <td> {% if discipline.fidele is not empty %} {{ discipline.fidele.nomfidele|upper }} {% else %} {% endif %}</td>
                </tr>
                <tr>
                    <th>Date debut</th>
                    <td>{{ discipline.datedebut ? discipline.datedebut|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Date fin</th>
                    <td>{{ discipline.datefin ? discipline.datefin|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Etat</th>
                    <td> {% if discipline.etat == 0  %} En cours {% else %} Achevé {% endif %} </td>
                </tr>

                <tr>
                    <th>Cause</th>
                    <td>{{ discipline.cause }}</td>
                </tr>
                <tr>
                    <th>Detail</th>
                    <td>{{ discipline.detail|raw }}</td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>
                        {% if discipline.datefin is not empty %}
                            {% set difference = date(discipline.datedebut).diff(discipline.datefin) %}
                            {{ difference.format('%m mois %d jour(s)') }}

                        {% else %}

                            {% set datePost = discipline.datedebut|date('d-m-Y') %}
                            {% set today = "now"|date('d-m-Y') %}
                            {% set difference = date(today).diff(date(datePost))%}
                            {{ difference.format('%m mois %d jour(s) ') }}

                        {% endif %}

                    </td>
                </tr>
            </tbody>
            <tr>

                <td>
                    <a href="{{ path('app_discipline_edit', {'id': discipline.id}) }}"> 
                        <i class="fas fa-edit" title="Modifier"></i></a>
                    {% if discipline.etat == 0  %} <form method="post" action="{{ path('app_discipline_delete', {'id': discipline.id}) }}" onsubmit="return confirm('Voulez-vous relever ce fidèle de sous-discipline?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discipline.id) }}">
                            <button class="btn">
                                <span style="font-size: 1em; color: red;">
                                    <i class="fas fa-trash-alt" title="Relever de sous-discipline"></i>
                                </span>
                            </button>
                        </form>

                    {% else %}

                    {% endif %}
                </td>
            </tr>
        </table>
