{% extends 'home/index.html.twig' %}
{% block title %}{{ eglise.denomination }}  Liste de présence de : {{ nomcellule|upper }} {% endblock %}

{% block body %}



    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">    
                Liste de présence de : {{ nomcellule|upper }}
            </h3>
        </div>
        <div class="container-fluid">
            <div class="row">

                <!-- /.card-header -->
                <div class="card-body">

                    <a href='{{ path('cellule') }}'>
                        <button class="btn btn-success">Retour à la liste</button>
                    </a>
              
                    <hr style="visibility: hidden" />

                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <th>Date</th>
                        <th>Objet</th>
                        <th>Lieu</th>
                        <th>Fidèle</th>
                        
                        <th>Photo</th>
                        </thead>
                        </tr>
                        <tbody>
                            {% for presencecellule in presencecellules %}

                                <tr>
                                    <td>{{ presencecellule.seancecellule.datesuper ? date_format(presencecellule.seancecellule.datesuper) }}</td>
                                    <td>{{ presencecellule.seancecellule.objet}}</td>
                                    <td>{{ presencecellule.seancecellule.lieu}}</td>
                                    <td>{{ presencecellule.fidele.nomfidele|upper}}</td>


                                    <td>    
                                        <img src="{{ asset('uploads/photos/'~presencecellule.fidele.photoFile )}}"  class="img-size-50 mr-3 img-suqare"/> 

                                    </td>

                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="5">aucune donnée trouvée</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>


{% endblock %}
