{% extends "home/index.html.twig" %}

{% block title %}Bilan des visiteurs {% endblock %}

{% block body %}

    <div class="card card-body">
        <form action="{{ path('app_bilan_visiten') }}" method="POST" >

            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Critères</h3>
                </div>
                <div class="row">


                    <div class="col-md-3">
                        {{ form_row(form_recherche.dateDebut, {'label':'Date debut'}) }}
                    </div>

                    <div class="col-md-3">
                        {{ form_row(form_recherche.dateFin , {'label':'Date fin'}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <input type="submit" value="Rechercher">
                </div>


            </div>    
    </div>
</form>    
</div> 

<div class="rows">
    {% if app.request.method == 'POST' and visites |length==0 %}
        Aucune donnée trouvée

    {% else %}

        {% if visites |length >0 %}
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Bilan visiteurs à leglise</h3>
                </div>

                <div class="card-body">

                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>Region pastorale</th>
                                <th>Eglise</th>
                                <th>Date visite</th>
                                <th>Visiteurs</th>
                                <th>Genre</th>
                                <th>Contact</th>


                            </tr>
                        </thead>

                        <tbody>
                            {% for visite in visites %}

                                <tr>

                                    <td> {% if visite.eglise.region is not empty %} {{ visite.eglise.region }}{% else %} Non rensigné {% endif %}</td>
                                    <td> {% if visite.eglise.regionpastorale is not empty %} {{ visite.eglise.regionpastorale }}{% else %} Non renseignée {% endif %}</td>
                                    <td> {% if visite.eglise is not empty %} {{ visite.eglise }}{% else %} {% endif %}</td>
                                    <td>{{ visite.datevisite ? date_format(visite.datevisite) }}</td>
                                    <td>{{ visite.visiteur }}</td>
                                    <td>{{ visite.sexe }}</td>
                                    <td>{{ visite.contact1 }}</td>

                                </tr>


                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}



{% endblock %}

