{% extends "home/index.html.twig" %}

{% block title %}Liste des membres{% endblock %}

{% block body %}



    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.card-header -->
                <div class="card-body">

                    <a href='{{ path('departement') }}'>
                        <button class="btn btn-success">Retour à la liste</button>
                    </a>
                    
                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <th>Code</th>
                        <th>Fidèle</th>
                        <th>Contact</th>
                        <th>Whatssap</th>
                        <th>baptème</th>
                        <th>Photo</th>
                        </thead>
                        </tr>
                        <tbody>
                            {% for fidele in fidele %}

                                <tr>

                                    <td>{{ fidele.code|upper}}</td>
                                    <td>{{ fidele.nomfidele|upper}}</td>
                                    <td>{{ fidele.contact1}}</td>
                                    <td>{{ fidele.contactwhatssap}}</td>
                                         <td> {% set stutbapteme= fidele.stutbapteme %}
                                        {% if stutbapteme == 1 %}
                                        Baptisé(e)
                                        {% else %}
                                            Non baptisé()
                                        {% endif %}
                                      
                                    
                                    </td>
                                    
                                    <td>    <a href="{{ path('fidele_detail', {'id': fidele.id}) }}">    <img src="{{ asset('uploads/photos/'~fidele.photoFile )}}"  class="img-size-50 mr-3 img-suqare"/> </a>  </td>

                                </tr>

                         
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </section>


{% endblock %}
