{% extends "home/index.html.twig" %}

{% block title %}Bilan des cotisations{% endblock %}

{% block body %}


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Bilan total de cotisation</h3>
        </div>

        <!-- /.card-header -->
        <div class="card-body">


            <a href='{{ path('app_cotisersociale_new') }}'>
                <button class="btn btn-primary">Paie de cotisation</button>
            </a>
            <a href='{{ path('app_cotisationsociale_index') }}'>
                <button class="btn btn-success">Liste des cotisations</button>
            </a>


            <hr style="visibility: hidden" />  

            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Fidèle</th>
                        <th>Objet</th>
                        <th>Montant à payer</th>
                        <th>Mont payé</th>
                        <th>Reste </th>


                    </tr>
                </thead>
                <tbody>
                    {% for bilan in bilans %}
                        <tr>

                            <td>{{ bilan.cotisersociale.datecotiser ? bilan.cotisersociale.datecotiser|date('d-m-Y') : '' }}</td>

                            <td>{{ bilan.cotisersociale.fidele.nomfidele }}</td>
                            <td>{{ bilan.cotisersociale.cotisationsociale.objet }}</td>
                            <td>{{ bilan.cotisersociale.cotisationsociale.montant }}</td>
                            <td>{{ bilan.cotisersociale.montantpayer }}</td>
                            <td>

                                {% if  bilan.reste > 0 %}
                                    <b>{{ bilan.reste }}</b>

                                {% else %}
                                    <i class="btn btn-success"> 
                                        Soldée
                                    </i> 
                                {% endif %}
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">Aucuné donnée trouvée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
