{% extends "home/index.html.twig" %}

{% block title %}Suppression membre
{% endblock %}

{% block body %}


    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Voulez-vous supprimer {{ groupefidele.fidele.nomfidele }} du groupe {{ groupefidele.groupe.nom}} <img src="{{ asset('uploads/photos/'~groupefidele.fidele.photoFile )}}"  class="img-size-50 mr-3 img-square"/></h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row mb-4">
                <a href="{{ path('groupefidele') }}" class="btn btn-success">Retour à la liste</a>

            </div>


            <div>
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}