{% extends "home/index.html.twig" %}


{% block title %}Presences aux cultes{% endblock %}

{% block body %}
    
<div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Liste de présence au culte</h3>
        </div>
        <div class="container-fluid">
            <div class="row">

                <!-- /.card-header -->
                <div class="card-body">
                    {% for message in app.flashes('presentecodim') %}
                        <div class="primary">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('suppressioncultecodim') %}
                        <div class="primary">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <a href='{{ path('app_presenceculteecodim_presence') }}'>
                        <button class="btn btn-primary">Nouveau</button>
                    </a>
                    <a href='{{ path('cultecodim') }}'>
                        <button class="btn btn-success">Liste des culte </button>
                    </a>

                    <hr style="visibility: hidden" />

                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                        <th>Date</th>
                        <th>Enfant</th>
                        <th>Code Enfant</th>
                        <th>Classe</th>
                        <th>Photo</th>
                        <th>Retirer</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                            {% for diff in differences %}
                                {% set presence = 0 %}
                                {% set presenceculteecodim = 0 %}
                                {% for presenceculteecodim in presenceculteecodims %}

                                    {% if diff.dateculte ==  presenceculteecodim.cultecodim.dateculte %}
                                        {% set presence = (presenceculteecodim|length) + presence ?? 0 %}
                                        {% if loop.last  %} <b hidden>    {{ presence }}    </b>  {% endif %}
                                    <tr>
                                        <td> {% if presenceculteecodim.cultecodim is not empty %} {{ presenceculteecodim.cultecodim.dateculte ? presenceculteecodim.cultecodim.dateculte|date('d-m-Y') : '' }} 
                                        {% else %} {% endif %}</td>
                                    <td>{{ presenceculteecodim.enfant.nom|upper}}</td>
                                    <td>{{ presenceculteecodim.enfant.code|upper}}</td>
                                    <td>{% if presenceculteecodim.classecodim is not empty %}{{ presenceculteecodim.classecodim.nom|upper}}{% else %} {% endif %}</td>


                                    <td>    
                                        <img src="{{ asset('uploads/photos/'~presenceculteecodim.enfant.photoFile )}}"  class="img-size-50 mr-3 img-suqare"/> 

                                    </td>
                                    <td>
                                        <form method="post" action="{{ path('app_presenceculteecodim_delete', {'id': presenceculteecodim.id}) }}" onsubmit="return confirm('etes-vous sûr de vouloir supprimer?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presenceculteecodim.id) }}">

                                            <button class="btn">
                                                <span style="font-size: 1em; color: red;">
                                                    <i class="fas fa-trash-alt" title="Retirer"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endif %}
                                    {% else %}
                                        {% if (presenceculteecodim|length) ==0 %}
                                            <tr>
                                                <td colspan="5">aucune donnée trouvée</td>
                                            </tr>
                                        {% endif %}
                                        {% endfor %}
                                            {% if presence !=0 %}
                                                <tr>
                                                    <td><b>Total Enfants</b> </td>
                                                    <td colspan="3"><b> {{ presence }} </b> </td>

                                                    <td colspan="3"> </td>
                                                </tr>
                                            {% else %}
                                            {% endif %}

                                            {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                </div>
                            </div>
                    {% endblock %}
