{% extends "home/index.html.twig" %}

{% block title %}Detail des cotisations{% endblock %}

{% block body %}


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details paiement</h3>
        </div>

        <!-- /.card-header -->
        <div class="card-body">

            <a href='{{ path('cotiserfamille_new') }}'>
                <button class="btn btn-primary">Paie de cotisation</button>
            </a>
            <a href='{{ path('cotisation') }}'>
                <button class="btn btn-success">Liste des cotisations</button>
            </a>
 <a href={{ path('app_depensefamille_index') }}>
                    <button class="btn btn-primary">Depenses</button>

                </a>

            <hr style="visibility: hidden" />  


            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Famille</th>
                        <th>Fidèle</th>
                        <th>Objet</th>
                        <th>Montant à payer</th>
                        <th>Mont payé</th>
                        <th>Reste </th>


                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                        {% if is_granted("cotiserfamille_detailfamille", detail) %}

                            <tr>
                                <td>{{ detail.datedetail ? date_format(detail.datedetail) }}</td>
                                <td>{{ detail.fidele.famille.nom }}</td>
                                <td>{{ detail.fidele.nomfidele }}</td>
                                <td>{{ detail.cotisationfamille.objet }}</td>
                                <td>{{ detail.cotisationfamille.montant|number_format(0, '.', ' ') }}</td>
                                <td>{{ detail.montantpayer|number_format(0, '.', ' ') }}</td>
                                <td>

                                    {% if  detail.reste > 0 %}
                                        <b>{{ detail.reste|number_format(0, '.', ' ') }}</b>


                                    {% else %}
                                        <i class="btn btn-success">    Soldée</i> 
                                    {% endif %}


                                </td>

                            </tr>
                        {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="13">Aucuné donnée trouvée</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endblock %}
