{% extends "home/index.html.twig" %}

{% block title %}Depenses famille index{% endblock %}

{% block body %}
    <!-- /.card-header -->
    <div class="card-body">




        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Activités des Familles</h3>
            </div>
    <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

            {% if is_granted('ROLE_RESPONSABLE_FAMILLE') %}
                <div class="card-body">
                    <a href='{{ path('app_depensefamille_new') }}'>
                        <button class="btn btn-primary">Nouveau</button>
                    </a>
                    <a href='{{ path('cotisationfamille_index') }}'>
                        <button class="btn btn-success">Cotisations </button>
                    </a>

                      <a href={{ path('app_invitefamille_index') }}>
                    <button class="btn btn-success">Invités</button>
                </a>
                <a href={{ path('cotisationfamille_index') }}>
                    <button class="btn btn-success">Cotisations</button>
                </a>  
                <a href={{ path('cotiserfamille_index') }}>
                    <button class="btn btn-success">Paiements cotisation</button>
                </a>

                <a href={{ path('seancefamille_listeparticipant') }}>
                    <button class="btn btn-success">Liste de présence</button>

                </a>
                    
                       <a href={{ path('app_bilan_famille2') }}>
                        <button class="btn btn-danger">Bilan</button>

                    </a>
           
                {% endif %} 

                <b>Solde</b>
                <button class="btn btn-info">
                    {% for solde in soldes %}
                        {{ solde.montant|number_format(0, '.', ' ') }}
                    {% endfor %}
                </button>
                <hr style="visibility: hidden" />
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Famille</th>
                            <th>Date</th>
                            <th>Objet</th>
                            <th>Montant</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for depensefamille in depensefamilles %}
                            <tr>
                                <td> {% if depensefamille.famille is not empty %}  {{ depensefamille.famille.nom }} {% else %} {% endif %}</td>
                                <td>{{ depensefamille.datedepense ? depensefamille.datedepense|date('d-m-Y') : '' }}</td>
                                <td>{{ depensefamille.objet }}</td>
                                <td>{{ depensefamille.montant|number_format(0, '.', ' ')  }}</td>

                                <td>
                                    <a href="{{ path('app_depensefamille_show', {'id': depensefamille.id}) }}">      <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-list" title="Details"></i>
                                        </span></a>
                                    <a href="{{ path('app_depensefamille_edit', {'id': depensefamille.id}) }}">          <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-edit" title="Modification"></i>
                                        </span></a>
                                </td>
                            </tr>
                     

                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endblock %}
