{% extends "home/index.html.twig" %}

{% block title %}Suppression cotisation
{% endblock %}

{% block body %}


    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Suppression de la cotisation du {{ cotisation.createAt|date('d-m-Y') }} </h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row mb-4">
                <div class="col-3">
                    <div class="form-group">
                        {{ form_label(form.typecotisation, "Type") }}
                        {{ form_errors(form.typecotisation)  }}
                        <div>
                            {{ form_widget(form.typecotisation) }}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        {{ form_label(form.montant, "Montant")}}
                        {{ form_errors(form.montant)  }}
                        <div>
                            {{ form_widget(form.montant) }}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        {{ form_label(form.objet, "Libellé cotisation") }}
                        {{ form_errors(form.objet)  }}
                        <div>
                            {{ form_widget(form.objet) }}
                        </div>
                    </div>
                </div>


                <div class="col-3">
                    <div class="form-group">
                        {{ form_label(form.periodecotisation, "Date limite") }}
                        {{ form_errors(form.periodecotisation) }}
                        <div>
                            {{ form_widget(form.periodecotisation)  }}
                        </div>
                    </div>
                </div>

            </div>


            <div>
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}