{% extends "home/index.html.twig" %}

{% block title %}Liste de presence Famille{% endblock %}

{% block body %}



    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Liste de présence des familles</h3>
        </div>
         <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
          
        <div class="container-fluid">
         

                <!-- /.card-header -->
                <div class="card-body">


                    <a href='{{ path('seancefamille_presence') }}'>
                        <button class="btn btn-primary">Nouveau</button>
                    </a>
                    <a href='{{ path('seancefamille_index') }}'>
                        <button class="btn btn-success">Liste des activités </button>
                    </a>
                     <a href={{ path('app_invitefamille_index') }}>
                    <button class="btn btn-success">Invités</button>
                </a>
                <a href={{ path('cotisationfamille_index') }}>
                    <button class="btn btn-success">Cotisations</button>
                </a>  
                <a href={{ path('cotiserfamille_index') }}>
                    <button class="btn btn-success">Paiements cotisation</button>
                </a>

                <a href={{ path('seancefamille_listeparticipant') }}>
                    <button class="btn btn-success">Liste de présence</button>

                </a>
                    
                       <a href={{ path('app_bilan_famille2') }}>
                        <button class="btn btn-danger">Bilan</button>

                    </a>
                <a href={{ path('app_depensefamille_index') }}>
                    <button class="btn btn-primary">Depenses</button>

                </a>

                    <hr style="visibility: hidden" />

                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <th>Famille</th>
                        <th>Objet</th>
                        <th>Date</th>
                        <th>Lieu</th>
                        <th>Fidèle</th>
                        <th>Contact</th>
                        <th>Photo</th>
                        <th>Retirer</th>
                        </thead>
                        </tr>
                        <tbody>
                            {% for diff in differences %}
                                {% set presence = 0 %}
                                {% set presencefamille = 0 %}
                                {% for presencefamille in presencefamilles %}
                                    {% if is_granted("seancefamille_presence", presencefamille) %}
                                        {% if diff.datesuper ==  presencefamille.seancefamille.datesuper %}
                                            {% set presence = (presencefamille|length) + presence ?? 0 %}
                                            <tr>

                                                <td>{{ presencefamille.famille.nom|upper}}</td>
                                                <td>{{ presencefamille.seancefamille.objet}}</td>
                                                <td>{{ presencefamille.seancefamille.datesuper ? presencefamille.seancefamille.datesuper|date('d-m-Y') : '' }}</td>
                                                <td>{{ presencefamille.seancefamille.lieu}}</td>
                                                <td>{{ presencefamille.fidele.nomfidele|upper}}</td>

                                                <td> {% if presencefamille.fidele.contactwhatssap is not empty %} {{ presencefamille.fidele.contactwhatssap}} {% else %} {{ presencefamille.fidele.contact1}} {% endif %}</td>
                                                <td>    
                                                    <img src="{{ asset('uploads/photos/'~presencefamille.fidele.photoFile )}}"  class="img-size-50 mr-3 img-suqare"/> 

                                                </td>
                                                <td>
                                                    <form method="post" action="{{ path('presencefamille_delete', {'id': presencefamille.id}) }}" onsubmit="return confirm('etes vous-sûr de vouloir supprimer?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presencefamille.id) }}">

                                                        <button class="btn">
                                                            <span style="font-size: 1em; color: red;">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}
                                {% if presence == 0 %}

                                {% elseif presence != 0  %}

                                    <tr>
                                        <td colspan="6"><b>Total fidèles</b> </td>

                                        <td colspan="2"><b> {{ presence }} </b> </td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>



{% endblock %}
