


<div class="card card-primary">

    <div class="card-header">
        <h3 class="card-title">Liste des invités  </h3>
    </div>

    <!-- /.card-header -->
    <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>Nom & prenoms</th>
                    <th>Genre</th>
                    <th>Teléphone</th>
                    <th>Lieu de residence</th>
                    <th>Fonction</th>



                </tr>
            </thead>
            <tbody>
                {% for invitefamille in invitefamilles %}
                    <tr>
                        <td>{{ invitefamille.nom|upper}}</td>
                        <td>{{ invitefamille.sexe}}</td>
                        <td>{{ invitefamille.contact}}</td>
                        <td>{{ invitefamille.habitation}}</td>
                        <td>{{ invitefamille.fonction}}</td>

                    </tr>
                        
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>


</div>

