{% extends 'home/index.html.twig' %}

{% block title %}Cotiserpargroupe index{% endblock %}

{% block body %}
    <div class="card-body">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Paiements des cotisations</h3>
            </div>
    <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href='{{ path('app_cotiserpargroupe_new') }}'>
                    <button class="btn btn-primary">Nouveau</button>
                </a>
     <a href='{{ path('cotiserpargroupe_detailcotisation') }}'>
                    <button class="btn btn-danger">Details paiement</button>
                </a>

                <hr style="visibility: hidden" />  

                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>

                            <th>Groupe</th>
                            <th>Objet </th>
                            <th>Montant </th>
                            <th>Montant payé</th>
                            <th>Reste</th>
                            <th>Date limite</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for cotiserpargroupe in cotiserpargroupes %}
                            <tr>
                                <td> {% if cotiserpargroupe.groupe is not empty %} {{ cotiserpargroupe.groupe.nom }} {% else %} {% endif %}</td>
                                <td> {% if cotiserpargroupe.cotisationpargroupe is not empty %} {{ cotiserpargroupe.cotisationpargroupe.objet }} {% else %} {% endif %}</td>
                                <td> {% if cotiserpargroupe.cotisationpargroupe is not empty %} {{ cotiserpargroupe.cotisationpargroupe.montant|number_format(0, '.', ' ') }} {% else %} {% endif %}</td>
                                <td>{{ cotiserpargroupe.montantpayer|number_format(0, '.', ' ') }}</td>
                                <td>
                                    {% if  cotiserpargroupe.reste ==0 %} <b>Soldé</b> 
                                    {% elseif cotiserpargroupe.reste >0 %} {{ cotiserpargroupe.reste|number_format(0, '.', ' ') }} {% elseif cotiserpargroupe.reste < 0 %} 
                                            <i class="btn btn-success"> Soldé </i> {% endif %}
                                        
                                    
                                   </td>
                                
                                <td>{{ cotiserpargroupe.datecotiser ? cotiserpargroupe.datecotiser|date('d-m-Y') : '' }}</td>
                      
                           {#     <td>
                                         {% if cotiserpargroupe.reste <= 0 %} {% else %}
                                            <a href="{{ path('app_cotiserpargroupe_edit', {'id': cotiserpargroupe.id}) }}">   <span style="font-size: 1em; color: Dodgerblue;">
                                                    <i class="fas fa-edit"></i>
                                                </span></a>
                                        {% endif %}
                                </td> #}
                            </tr>
                      
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
