{% extends "home/index.html.twig" %}

{% block title %}Gestion des dîmes Anonymes{% endblock %}

{% block body %}



    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Dîmes anonymes</h3>
        </div>
    <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
        <!-- /.card-header -->

        <div class="card-body">
            <a href='{{ path('dimeglobale_new') }}'>
                <button class="btn btn-primary">Nouveau</button>
            </a>
            <a href='{{ path('dime') }}'>
                <button class="btn btn-success">Dîme individuelle</button>
            </a>

<a href="{{ path('offrande') }}" class="btn btn-success">Offrandes</a>
                <b>Solde</b>
                <button class="btn btn-success">
                    {% for solde in soldes %}
                        {{ solde.montant|number_format(0, '.', ' ') }} --   {{ solde.montant|format_number(style='spellout')}} F CFA
                    {% endfor %}
                </button>
            <hr style="visibility: hidden" />

            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Montant total </th>
                        <th>Detail</th>
                            {% if is_granted('ROLE_ADMIN') %}
                            <th>Modifier</th>
                            <th>Supprimer</th>
                            {% endif %}


                    </tr>
                </thead>
                <tbody>
                    {% for dimeglobale in dimeglobales %}
                        <tr>
                            <td>{{ dimeglobale.datedime|date('d-m-Y')}}</td>
                            <td>{{ dimeglobale.montant|number_format(0, '.', ' ')}}</td>

                            <td>
                                <a href="{{ path('dimeglobale_show', {'id': dimeglobale.id}) }}">
                                    <span style="font-size: 1em; color: Dodgerblue;">
                                        <i class="fas fa-list"></i>
                                    </span>
                                </a>
                            </td>

                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                  
                                        
                                            <a href="{{ path('dimeglobale_update', {'id': dimeglobale.id}) }}">
                                                <span style="font-size: 1em; color: Dodgerblue;">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                </td>
                                <td>
                                    <form method="post" action="{{ path('dimeglobale_delete', {'id': dimeglobale.id}) }}" onsubmit="return confirm('etes vous sur de vouloir supprimer?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dimeglobale.id) }}">

                                        <button class="btn">
                                            <span style="font-size: 1em; color: red;">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            {% endif %}

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">aucune donnée trouvée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>





{% endblock %}
