{% extends "home/index.html.twig" %}

{% block title %}Modification dîme anonyme{% endblock %}

{% block body %}



    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification dîme anonyme {{ dimeglobale.montant }}</h3>
        </div>
        <div class="card card-body">


            {{ form_start(form) }}
            {% for message in app.flashes('success') %}
                <div class="primary">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}

            </div>

            <div class="row">
                
              
                 <div class="col-md-4">
                    {{ form_row(form.datedime, {'label':'Date '}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.typeof, {'label':'Choix action '}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.ajout, {'label':'Montant '}) }}
                </div>
             
            </div>
      





            <div class="row"> 
                <div class="col-md-1">{{ form_row(form.save, {'label':'Modifier ','attr':{'value':'save'}}) }}</div>
                 <div class="col-md-3"><a href="{{ path('dime') }}" class="btn btn-success">Afficher la liste</a> </div>
            </div> 

            {{ form_end(form) }}
        </div>


    </div>


{% endblock %}