{% extends "home/index.html.twig" %}

{% block title %}Gestion des nationalités{% endblock %}

{% block body %}



    <div class="card-body">


        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Liste des pays</h3>
            </div>

            {% for message in app.flashes('pays') %}
                <div class="primary">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('supppays') %}
                <div class="primary">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- /.card-header -->
            <div class="card-body">
                          <button type="button" title="Enregistrement rapide" id="btn-fideles-modal" data-target="{{ path('nationalite_add') }}" class="btn btn-primary"> 
                    Nouveau
                </button>


                <a href='{{ path('nationalite_add1') }}'>
                    <button class="btn btn-primary" title="Enregistrement multiple">Nouveau ++</button>
                </a>
                <a href='{{ path('nationalite_print') }}'>
                    <button class="btn btn-primary">Impression avancée</button>
                </a>

                <hr style="visibility: hidden" />
                <table id="example1" class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Nationalité</th>
                            <th>Enfants</th>
                            <th>Adultes</th>
                            <th>Supprimer</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for nationalite in nationalite %}
                            <tr>
                            <td id="{{nationalite.id}}" data-original="{{ nationalite.libelle|upper}}" class="td-cliquable">{{ nationalite.libelle|upper}}</td>



                                <td>
                                        <button type="button" id="btn-fideles-modal" data-target="{{ path('nationalite_search_enfants', {'id':nationalite.id}) }}"> 
                                    <span style="font-size: 1em; color: Dodgerblue;">
                                        <i class="fas fa-users" title="Voir enfants"></i>
                                    </span>
                                </button>
                                </td>

                                <td>
                                    <button type="button" id="btn-fideles-modal" data-target="{{ path('nationalite_search_fideles', {'id':nationalite.id}) }}"> 
                                        <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-users" title="Voir fidèles"></i>
                                        </span>
                                    </button>
                                    <a href="detail/se?id={{ nationalite.id }}">
                                        <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-print" title="Imprimer les membres"></i>
                                        </span>
                                    </a>
                                </td>


                                <td>
                                    <form method="post" action="{{ path('nationalite_delete', {'id': nationalite.id}) }}" onsubmit="return confirm('Voulez-vous supprimer?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nationalite.id) }}">

                                        <button class="btn">
                                            <span style="font-size: 1em; color: red;">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                   
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


    </div>



    <!-- Modal des  -->
    <div class="modal fade bd-example-modal-lg" id="fidelesModal" tabindex="-1" aria-labelledby="fidelesModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // quand on clic sur le button voir les fideles pour ouvrir la fenêtre modal
            $(document).on('click', 'button#btn-fideles-modal', function () {
                // créer le modal qui porte l'id fidelesModal
                let modal = new bootstrap.Modal(document.getElementById('fidelesModal'), {
                    keyboard: false
                });

                // recupere le div class="modal-body" du div id="fidelesModal"
                let container = $('#fidelesModal .modal-body');

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('data-target'),
                    async: true,
                    beforeSend: function () { // avant d'envoyé le post on vide le div.modal-body
                        container.empty();
                    },
                    success: function (html) {
                        container.append(html); // une fois la réponse, on rempli le div.modal-body
                        modal.show(); // on affiche la fenêtre modal
                        //console.log(html);
                    }
                });
            });
        });
    </script>

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example1').DataTable();

            let send = function (id, original, nationalite) {
                if (original != nationalite && nationalite.length > 3) {
                    $('td#' + id).text(nationalite);
                    $.ajax({
                        type: 'POST',
                        url: '/nationalite/update/datatable/' + id,
                        data: {
                            'nationalite': nationalite
                        },
                        async: true,
                        success: function (response) {
                            if (response.update == false) {
                                $('td#' + id).text(original);
                            } else {
                                // développer une alert ou un toast pour comfirmer que la modification 
                                // est bien pris en compte
                                var w = window.open('', '', 'width=200,height=100')
                                w.document.write('Modification avec succès')
                                w.focus()
                                setTimeout(function () {
                                    w.close();
                                }, 5000);

                            }
                        }
                    });
                } else {
                    $('td#' + id).text(original);
                }
            }

            $(document).on('dblclick', '.td-cliquable', function () {
                $(this).html('<input type="text" value="' + $(this).text() + '">');
            });

            $('.td-cliquable')
                    .focusout(function () {
                        send($(this).attr('id'), $(this).attr('data-original'), $('input[type="text"]', this).val()); // sortir du focus
                    })
                    .blur(function () {
                        send($(this).attr('id'), $(this).attr('data-original'), $('input[type="text"]', this).val()); // tabulation
                    })
                    .keyup(function (event) {
                        if (event.which === 13) { // touche entrée
                            send($(this).attr('id'), $(this).attr('data-original'), $('input[type="text"]', this).val());
                        }
                    });
            ;
        });
    </script>


{% endblock %}