<div class="card card-primary">

    <div class="card card-body">
       {{ form_start(form, {'attr': {'action': path('classecodim_add')} }) }}
        {{ form_errors(form) }}
        {% for message in app.flashes('message') %}
            <div class="primary">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row mb-4">


            <div class="col-md-4">
                {{ form_label(form.nom, "Classe", {'label_attr':{'class':'col-form-label'}})}}
                {{ form_errors(form.nom)  }}
                <div class="foo">
                    {{ form_widget(form.nom,{'label_attr':{'class':'foo'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                {{ form_label(form.description, "description ", {'label_attr':{'class':'col-form-label'}}) }}
                {{ form_errors(form.description)  }}
                <div>
                    {{ form_widget(form.description ,{'label_attr':{'class':'foo'}}) }}
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                {{ form_label(form.responsable1, "Moniteur principal") }}
                {{ form_errors(form.responsable1)  }}
                <div>
                    {{ form_widget(form.responsable1,{'label_attr':{'class':'foo'}})   }}
                </div>
            </div>
            <div class="col-md-4">
                {{ form_label(form.responsable2, "Moniteur second") }}
                {{ form_errors(form.responsable2)  }}
                <div>
                    {{ form_widget(form.responsable2 ,{'label_attr':{'class':'foo'}})   }}
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-1">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>

            <div class="col-md-2" style="display: none"> {{ form_row(form.saveAndAdd, {'label':'Valider et continuer ','attr':{'value':'save-and-add'}}) }} </div>

        </div> 
        <div>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>