{% extends "home/index.html.twig" %}

{% block title %}Nommination{% endblock %}

{% block body %}
    <h1>Nommination</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nommination.id }}</td>
            </tr>
            <tr>
                <th>Datenomination</th>
                <td>{{ nommination.datenomination ? nommination.datenomination|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ nommination.detail }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ nommination.createAt ? nommination.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ nommination.updateAt ? nommination.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedFromIp</th>
                <td>{{ nommination.createdFromIp }}</td>
            </tr>
            <tr>
                <th>UpdatedFromIp</th>
                <td>{{ nommination.updatedFromIp }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ nommination.deletedAt ? nommination.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedFromIp</th>
                <td>{{ nommination.deletedFromIp }}</td>
            </tr>
            <tr>
                <th>Editable</th>
                <td>{{ nommination.editable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nommination_index') }}">back to list</a>

    <a href="{{ path('app_nommination_edit', {'id': nommination.id}) }}">edit</a>

    {{ include('nommination/_delete_form.html.twig') }}
{% endblock %}
