{% extends "home/index.html.twig" %}

{% block title %}Recommandations{% endblock %}

{% block body %}

    <div class="card-body">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Lettres de recommandation</h3>
            </div>
             <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% if is_granted('ROLE_SECRETAIRE') %}
                    <a href='{{ path('recommandation_new') }}'>
                        <button class="btn btn-primary">Nouveau</button>
                    </a>
                {% endif %}
                <hr style="visibility: hidden" />
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Fidèle</th>
                            <th>Contact</th>
                            <th>Date</th>
                            <th>Reférence</th>

                            <th>Lettre</th>
                            <th>Modifier</th>
                                {% if is_granted('ROLE_PASTEUR') %}
                                <th>Supprimer</th>
                                {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for recommandation in recommandations %}
                            <tr>
                                <td>{{ recommandation.fidele.code }}</td>
                                <td>{{ recommandation.fidele.nomfidele|upper}}</td>
                                <td>{{ recommandation.fidele.contact1 }}</td>
                                <td>{{ recommandation.dateop|date('d-m-Y') }}</td>

                                <td>{{ recommandation.reference }}</td>
                                <td>
                                    <a href="{{ path('recommandation_print', {'id': recommandation.id}) }}" target="_blank">
                                        <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fa fa-print"></i>
                                        </span>
                                    </a>
                                </td>
                     
                                <td>
                                    <a href="{{ path('recommandation_edit', {'id': recommandation.id}) }}">
                                         <span style="font-size: 1em; color: Dodgerblue;">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                </td>
                                {% if is_granted('ROLE_PASTEUR') %}
                                    <td>
                                        <form method="post" action="{{ path('recommandation_delete', {'id': recommandation.id}) }}" onsubmit="return confirm('etes vous sur de vouloir supprimer?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recommandation.id) }}">
                                            <button class="btn">
                                                <span style="font-size: 1em; color: red;">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Aucune donnée trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
