
<div class="card card-primary">

    <div class="card card-body">
        {{ form_start(form) }}
 <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.datepastorale, {'label':'Date debut '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.datefin, {'label':'Date fin '}) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.pasteur1, {'label':'Pasteur officiant  '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.pasteur2, {'label':'2nd pasteur  '}) }}
            </div>


        </div>

        <div class="row"> 
            <div class="col-md-3">
                {{ form_row(form.brochure, {'label':'Procèes verbal '}) }}
            </div> 
            <div class="col-md-3">
                {{ form_row(form.lieu, {'label':'Lieu '}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.type, {'label':'Type rencontre '}) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.ordredujour, {'label':'Ordre du jour '}) }}
            </div> 
        </div>

        <div class="row"> 
            <div class="col-md-12">



                {{ form_row(form.note, {'label':'Compte rendu '}) }}

            </div>

        </div>
        <div class="row"> 
            <div class="col-md-1">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>
            <div class="col-md-2.5"> {{ form_row(form.saveAndAdd, {'label':'Valider et continuer ','attr':{'value':'save-and-add'}}) }} </div>
            <div class="col-md-3"><a href="{{ path('app_pastorale_index') }}" class="btn btn-success">Afficher la liste</a> </div>
        </div> 
        {{ form_end(form) }}

    </div>
</div>