
<div class="card card-primary">

    <div class="card-header">
        <h3 class="card-title"> Details activités du {{ pastorale.datepastorale ? pastorale.datepastorale|date('d-m-Y') : '' }} </h3>
    </div>
    <div class="card body">

        <table class="table">
            <tbody>
                <tr>
                    <th>Date debut</th>
                    <td>{{ pastorale.datepastorale ? pastorale.datepastorale|date('d-m-Y à H:i:s ') : '' }}</td>
                </tr>

                <tr>
                    <th>Date fin</th>
                    <td>{{ pastorale.datefin ? pastorale.datefin|date('d-m-Y à H:i:s ') : '' }}</td>
                </tr>
                <tr>
                    <th>Pasteur officiant</th>
                    <td> {% if pastorale.pasteur1 is not empty %} {{ pastorale.pasteur1.nomfidele }} {% else %} {% endif %}</td>
                </tr>

                <tr>
                    <th>Pasteur officiant</th>
                    <td> {% if pastorale.pasteur2 is not empty %} {{ pastorale.pasteur2.nomfidele }} {% else %} {% endif %}</td>
                </tr>

                <tr>
                    <th>Ordre duj our</th>
                    <td>{{ pastorale.ordredujour|raw }}</td>
                </tr>
                <tr>
                    <th>Type rencontre</th>
                    <td>{{ pastorale.type }}</td>
                </tr>
                <tr>
                    <th>Detail</th>
                    <td>{{ pastorale.note|raw }}</td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>
                        {% set difference = date(pastorale.datepastorale).diff(pastorale.datefin) %}
                        {{ difference.format('%d jour(s) %H:%I:%S') }}

                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
        
            <div class="col-md-3">

                <form method="post" action="{{ path('app_pastorale_delete', {'id': pastorale.id}) }}" onsubmit="return confirm('Voulez-vous supprimer?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pastorale.id) }}">
                    <button class="btn">
                        <span style="font-size: 1em; color: red;">
                            <i class="fas fa-trash-alt" title="Supprimer"></i>
                        </span>
                    </button>
                </form> 
            </div>
        </div>
    </div>
</div>

