{% extends "home/index.html.twig" %}

{% block title %}Nominer index{% endblock %}

{% block body %}
      <div class="card-body">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Nomination</h3>
            </div>
 <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
            <!-- /.card-header -->
            <div class="card-body">

                <a href='{{ path('app_nominer_new') }}'>
                    <button class="btn btn-primary">Nouveau</button>
                </a>


                <hr style="visibility: hidden" />
                <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
    
                <th>Date</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nominer in nominers %}
            <tr>
    
                <td>{{ nominer.createAt ? nominer.createAt|date('d-m-Y') : '' }}</td>
     
                <td>
                    <a href="{{ path('app_nominer_show', {'id': nominer.id}) }}">show</a>
                    <a href="{{ path('app_nominer_edit', {'id': nominer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
       
        {% endfor %}
        </tbody>
    </table>

            </div></div>
{% endblock %}
