{% extends "home/index.html.twig" %}

{% block title %}Liste de presence Groupe{% endblock %}

{% block body %}



    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Liste de présence aux activités des groupes</h3>
        </div>
         <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
          
        <div class="container-fluid">
          

                <!-- /.card-header -->
                <div class="card-body">
               
                    <a href='{{ path('seancegroupe_presence') }}'>
                        <button class="btn btn-primary">Nouveau</button>
                    </a>
                    <a href='{{ path('seancegroupe_index') }}'>
                        <button class="btn btn-success">Liste des activités </button>
                    </a>
                    <a href={{ path('cotisergroupe_index') }}>
                        <button class="btn btn-success">Paiements Cotisations</button>
                    </a>                    <hr style="visibility: hidden" />

                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <th>Date</th>

                        <th>Groupe</th>
                        <th>Objet</th>
                        <th>Lieu</th>
                        <th>Fidèle</th>
                        <th>Photo</th>
                        <th>Retirer</th>
                        </thead>
                        </tr>
                        <tbody>
                            {% for diff in differences %}

                                {% set presence = 0 %}
                                {% set presencegroupe = 0 %}
                                {% for presencegroupe in presencegroupes %}
                                    {% if is_granted("seancegroupe_presence", presencegroupe) %}
                                        {% if diff.datesuper ==  presencegroupe.seancegroupe.datesuper %}
                                            {% set presence = (presencegroupe|length) + presence ?? 0 %}
                                            <tr>
                                                <td>{{ presencegroupe.seancegroupe.datesuper ? presencegroupe.seancegroupe.datesuper|date('d-m-Y') : '' }}</td>
                                                <td>{{ presencegroupe.groupe.nom|upper}}</td>
                                                <td>{{ presencegroupe.seancegroupe.objet}}</td>
                                                <td>{{ presencegroupe.seancegroupe.lieu}}</td>
                                                <td>{{ presencegroupe.fidele.nomfidele|upper}}</td>

                                                <td>    
                                                    <img src="{{ asset('uploads/photos/'~presencegroupe.fidele.photoFile )}}"  class="img-size-50 mr-3 img-suqare"/> 

                                                </td>
                                                <td>
                                                    <form method="post" action="{{ path('presencegroupe_delete', {'id': presencegroupe.id}) }}" onsubmit="return confirm('etes vous-sûr de vouloir supprimer?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presencegroupe.id) }}">

                                                        <button class="btn">
                                                            <span style="font-size: 1em; color: red;">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}
                                {% if presence == 0 %}

                                {% elseif presence != 0  %}

                                    <tr>
                                        <td colspan="6"><b>Total fidèles</b> </td>

                                        <td colspan="2"><b> {{ presence }} </b> </td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>



{% endblock %}
