{% extends "home/index.html.twig" %}

{% block title %}Activités de : {{ groupe.nom|upper }}{% endblock %}

{% block body %}


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> {{ groupe.nom|upper }} : Gestion des activités</h3>
        </div>
        <div class="card card-body">
            {{ form_start(form) }}
  <div class="offset-1 col-md-10 mt-2 mb-2">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-alert" role="alert">
                    <h1 class="m-0 flash-text">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
            <div class="row">
               
                <div class="col-md-3">
                    {{ form_row(form.objet, {'label':'Objet  '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.typeofficiant, {'label':'Intervenant invité '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.fidele, {'label':'Intervenant membre '}) }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.datesuper, {'label':'Date '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.heuredebut, {'label':'Debut '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.heurefin, {'label':'Fin '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.theme, {'label':'Thème ', 'placeholder':'Thème'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.lieu, {'label':'Lieu '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.versets, {'label':'Versets bibliques  '}) }}
                </div>


                <div class="col-md-3">
                    {{ form_row(form.offrande, {'label':'Offrande '}) }}
                </div>
                 <div class="col-md-3">
                    {{ form_row(form.nbrepresent, {'label':'Nombre hommes '}) }}
                </div>
            </div>


        <div class="row">

                  <div class="col-md-3">
                    {{ form_row(form.typeactivite, {'label':'Type activité '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.photo, {'label':'Fiche de rapport '}) }}
                </div>

                <div class="col-md-3">
                    {{ form_row(form.femme, {'label':'Femmes '}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.enfant, {'label':'Enfants '}) }}
                </div>



            </div>

            <div class="row">
                <div class="col-md-10">
                    {{ form_row(form.resume, {'label':'Notes '}) }}
                </div>
            </div>


            {% if is_granted('ROLE_RESPONSABLE_GROUPE') %}

                <div class="row"> 
                    <div class="col-md-1">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div></p>

                    <div class="col-md-2.5"> {{ form_row(form.saveAndAdd, {'label':'Valider et continuer ','attr':{'value':'save-and-add'}}) }} </div>

                    <div class="col-md-2"><a href="{{ path('seancegroupe_index') }}" class="btn btn-success">Afficher la liste</a> </div>
                </div> 
            {% endif %}
            <div>
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}

        </div>
    </div>



{% endblock %}