{% extends "home/index.html.twig" %}

{% block title %}Bilan des visites {% endblock %}

{% block body %}

    <div class="card card-body">
        <form action="{{ path('app_bilan_visite2') }}" method="POST" >

            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Critères</h3>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        {{ form_row(form_recherche.fidele, {'label':'Fidele'}) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form_recherche.dateDebut, {'label':'Date debut'}) }}
                    </div>

                    <div class="col-md-3">
                        {{ form_row(form_recherche.dateFin , {'label':'Date fin'}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <input type="submit" value="Rechercher">
                </div>


            </div>    


        </form>    
    </div> 

    <div class="rows">
        {% if app.request.method == 'POST' and visite2s |length==0 %}
            Aucune donnée trouvée

        {% else %}

            {% if visite2s |length >0 %}
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Resultats de la recherche</h3>
                    </div>

                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>Lieu</th>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Verset</th>
                                    <th>Responsable</th>
                                    <th>Details</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for visite2 in visite2s %}
                                    <tr>
                                        <td>{{ visite2.lieu }}</td>
                                        <td>{{ date_format(visite2.datevisite) }} </td>
                                        <td> {{ visite2.heure|date('H:i:s')}}</td>
                                        <td>{{ visite2.verset }}</td>
                                        <td>{{ visite2.responsable }}</td>

                                        <td>



                                            <button type="button" id="btn-fideles-modal" data-target="{{ path('app_visite2_show', {'id': visite2.id}) }}"> 
                                                <span style="font-size: 1em; color: Dodgerblue;">
                                                    <i class="fas fa-users" title="Voir details"></i>
                                                </span>
                                            </button>

                                        </td>
                     
                                </tr>
                            {% else %}

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

        <div class="modal fade bd-example-modal-lg" id="fidelesModal" tabindex="-1" aria-labelledby="fidelesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="fidelesModalLabel"> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                // quand on clic sur le button voir les fideles pour ouvrir la fenêtre modal
                $(document).on('click', 'button#btn-fideles-modal', function () {
                    // créer le modal qui porte l'id fidelesModal
                    let modal = new bootstrap.Modal(document.getElementById('fidelesModal'), {
                        keyboard: false
                    });

                    // recupere le div class="modal-body" du div id="fidelesModal"
                    let container = $('#fidelesModal .modal-body');

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('data-target'),
                        async: true,
                        beforeSend: function () { // avant d'envoyé le post on vide le div.modal-body
                            container.empty();
                        },
                        success: function (html) {
                            container.append(html); // une fois la réponse, on rempli le div.modal-body
                            modal.show(); // on affiche la fenêtre modal
                            //console.log(html);
                        }
                    });
                });
            });
        </script>
    {% endblock %}
