

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Promotion</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

         <style>

            #footer {
                text-align:center;
                font-style: italic;
                clear:both;
                width: 100%;
                position: absolute;
                bottom: 0;
                padding-top: 50px;
                height: 20px;
            }


            .centrage {
                text-align: center;
                position: sticky;
                top: 40px;
                 margin-left: 70px;
            }

            .communaute {
                position: absolute;
                top: 10px;
                left: auto;
                clear: both;
                border-radius: 4px;
                padding: 5px;
                font-size:smaller ;
                z-index: 5;
                text-align: left;
                justify-content: space-between;

            }

            .agrement {
                font-size:smaller ;
            }

            .eglise {
                position: absolute;
                top: 10px;
                right:  5px;
                clear: both;
                border-radius: 4px;
                padding: 5px;
                font-size:smaller ;
            }

            .global  {
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-between;

            }
            .verset{
                text-align: center;
                border: 3px solid;
                font-size:smaller ;

            }
        </style>

    </head>
    <body>


        <div class="global">
            <div class="communaute">

                {{ eglise.communaute.libelle }} - {{ eglise.sigle }}
                <hr />
                <div class="agrement">Agrement N° {{ eglise.communaute.agrement }} </div>

            </div>
            <div class="centrage">
                <img src="{{ base64(absolute_url(asset('uploads/photos/'~eglise.logo ))) }}"  style="img {
                         border: 1px solid #ddd;
                         border-radius: 4px;
                         padding: 5px;
                         width: 100px;
                        
                     }"  alt="logo">  
            </div>
            <div  class="eglise">
                {{ eglise.denomination }} <strong>-</strong> {{ eglise.quartier }}
                <hr />
                {{ eglise.contact1 }} /
                {{ eglise.adresse }}
            </div>
            <div class="verset">Siège social: {{ eglise.communaute.siege }} / {{ eglise.communaute.adresse }} / Email: {{ eglise.communaute.email }} / {{ eglise.communaute.verset }} :<b> {{ eglise.communaute.texte }}</b> </div>
        </div>


        <hr style="visibility: hidden" />


        <div class="container-fluid"><br><br>
            <!-- /.card-header -->
            <center>
                <h4><u><b> BAPTISES DE LA PROMOTION : {{ nombapteme|upper }} </b></u></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fidèle</th>
                            <th>Contact </th>
                            <th>Statut baptème</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fidele in fideles %}

                            <tr>

                                <td>{{ fidele.nomfidele|upper}}</td>
                                <td> {% if fidele.contactwhatssap is not empty %} {{ fidele.contactwhatssap}} {% else %} {{ fidele.contact1}} {% endif %}</td>
                                <td> {% set stutbapteme= fidele.stutbapteme %}
                                    {% set sexe= fidele.sexe %}

                                    {% if stutbapteme == 'Oui' and sexe == 'Homme' %}
                                        Baptisé
                                    {% elseif stutbapteme == 'Non' and sexe == 'Homme' %}
                                        Non baptisé
                                    {% elseif stutbapteme == 'Oui' and sexe == 'Femme' %}
                                        Baptisée
                                    {% else %}
                                        Non Baptisée
                                    {% endif %}
                                </td>


                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="5">aucune donnée trouvée</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </center>
        </div>

        <div id="footer">
            Imprimé par {{ app.user.nomuser }} {{ app.user.prenom }} le {{ "now"|date('d-m-Y') }} à  {{ "now"|date('H:i:s') }}
        </div>
    </body>

</html>
